
body {
	width: 800px;
	margin: auto;
}

header {
  background-color: #008B8B;
}
h1, h2 {
  background-color: #0000FF;
  text-transform: uppercase;
  color: #FFFFFF;
}
h1 {
  text-align: center;
}
section {
  background-color: #9400D3;
  margin-top: 0px;
  color: #FFFFFF;
}
a {
	background-color: #FF0000;
	color: #FFFFFF;
	text-align: center;
	border-radius: 5px;
}
.left a {
  display: none;
}  